body
  padding: 50px
  font: 14px Helvetica, Arial, sans-serif
#transactions-list
  .closed
    .item-block
      &:after
        content: '\02795'
        float: right
    .item-details
      display: none
  .open
    .item-block
      &:after
        content: '\2796'
        float: right
  .item
    display: block
    margin: 5px
    list-style: none
    padding: 10px
    border: 1px solid #b9b6b6
    background: #eee
    .item-bold
      font-weight: bold
    .item-amount
      font-weight: bold
      font-size: 1.4em
    .item-type
      color: #716d70
      font-style: italic
      text-transform: lowercase
    > .item-debit
      > .item-amount, .item-type
        color: #ae0100
    > .item-credit
      > .item-amount, .item-type
        color: #006600
    .item-details
      border-top: 1px solid #ddd
      margin: 10px 0
      padding: 15px 15px 0
    .list-details
      padding: 0
    .details-item
      padding: 5px 0
      list-style: none
      span
        font-weight: bold
    &:hover
      border: 1px solid #6a4da0
      cursor: pointer