body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif; }

#transactions-list .closed .item-block:after {
  content: '\02795';
  float: right; }

#transactions-list .closed .item-details {
  display: none; }

#transactions-list .open .item-block:after {
  content: '\2796';
  float: right; }

#transactions-list .item {
  display: block;
  margin: 5px;
  list-style: none;
  padding: 10px;
  border: 1px solid #b9b6b6;
  background: #eee; }
  #transactions-list .item .item-bold {
    font-weight: bold; }
  #transactions-list .item .item-amount {
    font-weight: bold;
    font-size: 1.4em; }
  #transactions-list .item .item-type {
    color: #716d70;
    font-style: italic;
    text-transform: lowercase; }
  #transactions-list .item > .item-debit > .item-amount, #transactions-list .item > .item-debit .item-type {
    color: #ae0100; }
  #transactions-list .item > .item-credit > .item-amount, #transactions-list .item > .item-credit .item-type {
    color: #006600; }
  #transactions-list .item .item-details {
    border-top: 1px solid #ddd;
    margin: 10px 0;
    padding: 15px 15px 0; }
  #transactions-list .item .list-details {
    padding: 0; }
  #transactions-list .item .details-item {
    padding: 5px 0;
    list-style: none; }
    #transactions-list .item .details-item span {
      font-weight: bold; }
  #transactions-list .item:hover {
    border: 1px solid #6a4da0;
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */